<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GTA4 CARS SHOP</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
      <span class="title"><i>GTA 4 CARS SHOP</i></span></br>
      <span class="title2">PRESTIGIOUS MOBILES</span>
  <hr color="darkgrey">
  <div class="navbar">
    <ul>
      <li><a class="active" href="home">HOME</a></li>
      <li><a href="viewcars">VIEW CARS</a></li>
      <li><a href="about">ABOUT</a></li>
      <li><a href="contactUs">CONTACT US</a></li>
      <li><a href="cart">YOUR ORDER</a></li>
    </ul>
  </div>
  </header>
  <div class="main-content">
  </div>
  </body>
</html>