<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GTA4 CARS SHOP</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
      <span class="title"><i>GTA 4 CARS SHOP</i></span></br>
      <span class="title2">PRESTIGIOUS MOBILES</span>
  <hr color="darkgrey">
  <div class="navbar">
    <ul>
      <li><a href="home">HOME</a></li>
      <li><a class="active" href="viewcars">VIEW CARS</a></li>
      <li><a href="about">ABOUT</a></li>
      <li><a href="contactus">CONTACT US</a></li>
      <li><a th:href="@{/order/orderview}">YOUR ORDER<span> (<span th:text="${@order.counter}"></span>)</span></a></li>
    </ul>
  </div>
  </header>
  <div class="main-content">
    <div class="car" th:each="car:${cars}">
      <img class="car-photo" th:src="@{${car.imgUrl}}">

      <div class="description">
        <h1 class="car-name" th:text="${car.name}"></h1>
        <p class="descriptions" th:text="${car.description}"></p>
        <a th:href="@{'/viewcars/add/' + ${car.id}}" class="btn-order" ( th:text="${car.price}" )></a>
    </div>

    </div>
  </div>
  </body>
</html>